// Faire un back to top ?
// Reprendre l'affichage du menu (marquer l'endroit où t'es plutot que d'insister sur contact ?)
// Rajouter les liens dans les pages portfolio

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf')
    format('truetype');
}

$dark-blue: #0a192f;
$light-blue: #172a45;
$light-gray: #ccd6f6;
$yellow: #ffd700;

$font-title: 'Roboto', sans-serif;
$font-text: 'Open Sans', sans-serif;

$tall-to-mid: 1600px;
$mid-to-tablet: 1024px;
$tablet-to-smalltablet: 800px;
$smalltablet-to-phone: 600px;
$phone-to-smallphone: 400px;

$headerHeight-tall: 120px;
$headerHeight-mid: 80px;

$full-height-tall: calc(100vh - #{$headerHeight-tall});
$full-height-mid: calc(100vh - #{$headerHeight-mid});

@mixin contentFrame {
  max-width: 1200px;
  padding-left: 10%;
  padding-right: 10%;
  @media (max-width: $mid-to-tablet) {
    max-width: none;
    padding-left: 7%;
    padding-right: 7%;
  }
  @media (max-width: $tablet-to-smalltablet) {
    padding-left: 5%;
    padding-right: 5%;
  }
}
