// Faire un back to top ?
// Reprendre l'affichage du menu (marquer l'endroit où t'es plutot que d'insister sur contact ?)

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf')
    format('truetype');
}

$darkBlue: #0a192f;
$blue999: #111757;

$blue900: #1a237e;

$blue700: #303f9f;
$blue500: #3f51b5;
$blue300: #7986cb;
$blue200: #9fa8da;

$blue100: #c5cae9;
$blue50: #e8eaf6;

$gray800: #424242;
$gray600: #757575;

$light-gray: #ccd6f6;
$yellow: #ffd700;

$font-title: 'Roboto', sans-serif;
$font-text: 'Open Sans', sans-serif;

$tall-to-mid: 1600px;
$mid-to-tablet: 1024px;
$tablet-to-smalltablet: 800px;
$smalltablet-to-phone: 600px;
$phone-to-smallphone: 400px;

$headerHeight-tall: 120px;
$headerHeight-mid: 80px;

$full-height-tall: calc(100vh - #{$headerHeight-tall});
$full-height-mid: calc(100vh - #{$headerHeight-mid});

@mixin contentFrame {
  max-width: 1200px;
  margin-left: 10%;
  margin-right: 10%;
  @media (max-width: $mid-to-tablet) {
    max-width: none;
    margin-left: 7%;
    margin-right: 7%;
  }
  @media (max-width: $tablet-to-smalltablet) {
    margin-left: 5%;
    margin-right: 5%;
  }
}
