@import '~/assets/variables.scss';

header {
  background-color: $dark-blue;
  height: $headerHeight;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  .primaryBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include contentFrame;
  }

  .logo {
    font-size: 30px;
    font-weight: 600px;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    li {
      margin: 0 10px;
      font-size: 24px;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}
