@import '~/assets/variables.scss';
//Ombrage sur les cartes ?
// Compétences

body {
  font-family: $font-text;
  color: $dark-blue;
  font-size: 22px;
  @media (max-width: $tall-to-mid) {
    font-size: 18px;
  }
}
main {
  margin-top: $headerHeight-tall;
  @media (max-width: $tall-to-mid) {
    margin-top: $headerHeight-mid;
  }
  a {
    color: $light-blue;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

.fullheightdiv {
  height: $full-height-tall;
  position: relative;
  @media (max-width: $tall-to-mid) {
    height: $full-height-mid;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-appearance: none; /* pour les navigateurs Webkit comme Safari et Chrome */
  -moz-appearance: none; /* pour Firefox */
  appearance: none; /* standard moderne */
}
button:focus,
a:focus,
input:focus {
  outline: 3px solid #0099cc; // Une bordure bleue claire pour l'indication de focus.
  box-shadow: 0 0 5px #0099cc; // Une ombre pour un effet supplémentaire.
}
/////////////////////////// ETIQUETTES //////////////////////
/////////////////////////// ETIQUETTES //////////////////////
/////////////////////////// ETIQUETTES //////////////////////
/////////////////////////// ETIQUETTES //////////////////////

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    display: inline-block;
    color: white;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: #fff;
    }
  }
}

.Next,
.React {
  background-color: #8a3400;
}

.Nuxt,
.Vue {
  background-color: #c74200;
}

.SCSS,
.CSS {
  background-color: #707070;
}

.Node,
.Express {
  background-color: #8e4585;
}

.Python {
  background-color: #191970;
}

.MongoDB {
  background-color: #9932cc;
}
